@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html {
  --text: #131e0b;
  --background: #f4fbf4;
  --primary: #a1e3a6;
  --secondary: #4eb7ac;
  --accent: #00e677;
}

html.dark {
  --text: #e9f4e1;
  --background: #040b04;
  --primary: #1c5e22;
  --secondary: #48b1a7;
  --accent: #1aff90;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Roboto', sans-serif;
}
